/* style.css */

/* Global Body Parameters */
body {
    max-width: 840px;        /* Factorable number, nice width  */
    width: 92%;
    margin: 0 auto;
}

/* Global Body Parameters */
header {
    text-align: center;        /* Centered text */

}

footer {
    text-align: center;        /* Centered text */

}










